.day   { background: #ffb81f; color: black; }
.night { background: rgb(31, 187, 214); color: white; }

@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #f1820a; color: rgb(0, 0, 0); }
  .night.dark-scheme { background: #1675b1; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: #ffb11f; color:  rgb(209, 209, 209); }
  .night.light-scheme { background:  #32c4ec; color: rgb(48, 48, 48); }
}

.day, .night {
  display: inline-block;
  padding: 1em;
  width: 7em;
  height: 2em;
  vertical-align: middle;
}
